{% extends 'master.html' %}

{% block content %}
    <div class="search-box">
        <form method="get" action="{% url 'search' %}">
            <input type="text" name="q" placeholder="Sobre o que você quer saber? (tente usar palavras-chave)">
            <button type="submit">Buscar</button>
        </form>
    </div>

    <div class="results">
        {% if results %}
            <h2>Resultados</h2>
            {% for item in results %}
                <div class="card">
                    <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
