{% extends 'core/master.html' %}

{% block content %}
    <main class="content">
        <form method="post" 
            hx-post="{% url 'home' %}" 
            hx-target="#resultados" 
            hx-swap="innerHTML"
            hx-on::after-request="this.reset()">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id="buscar">Buscar</button>
        </form>

        <div id="loader" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:9999;">
            ⏳ Processando sua busca...
        </div>

        <div id="resultados">
            {% include "core/resultados.html" %}
        </div>
    </main>


{% endblock %}
