{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Como que acessa?</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a href="{% url 'home' %}" class="link">Como que acessa?</a>
        {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="dropbtn">
                    {{user.first_name|default:user.email}}
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'historico_pesquisas' %}">Pesquisas anteriores</a>
                    <a href="{% url 'account_logout' %}">Sair</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}">Entrar com Google</a>
        {% endif %}
    </nav>

    {%block content%}
    {%endblock%}
<script src="https://unpkg.com/htmx.org@1.9.10">
    // Mostra o loader quando a requisição começa
    document.body.addEventListener("htmx:beforeRequest", function(evt) {
      document.getElementById("loader").style.display = "block";
    });

    // Esconde quando terminar
    document.body.addEventListener("htmx:afterRequest", function(evt) {
      document.getElementById("loader").style.display = "none";
    });
</script>
</body>
</html>
